
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/chatRoom-style.css">
    <title>Document</title>
</head>
<body>
    <fieldset id="chat-lists"><br></fieldset>
    <input type="text" id="message">
    <input type="submit" value="send" id="send-btn">
    <form action="/chat/exit" method="post">
        <input type="submit" value="exit" id="exit-btn">
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="script/chatRoom-cli.js"></script>
</body>
</html>