#chat-lists{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 50vh;
    width: 90vw;
    overflow: scroll;
}
.my-message{
    padding: 4px;
    border: 2px solid rgb(14, 138, 240);
    border-radius: 10px;
    margin-bottom: 4px;
    width: min-content;
    background-color: rgb(14, 138, 240);
    color: white;
}

.new-member{
    align-self: center;
    font-size: 3vw;
    color: darkgray;
}