#chat-lists{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 50vh;
    width: 90vw;
    overflow: scroll;
}
.others-message, .my-message{
    padding: 4px;
    border-radius: 10px;
    margin-bottom: 4px;
    width: min-content;
    color: white;
}
.my-message{
    border: 2px solid rgb(14, 138, 240);
    background-color: rgb(14, 138, 240);
}
.others-message{
    align-self: flex-start;
    border: 2px solid darkgray;
    background-color: darkgray; 
}
.nick-name-my, .nick-name-others{
    font-size: 1vw;
    color:lightslategray;
}
.nick-name-others{
    align-self: flex-start;
}
.new-member{
    align-self: center;
    font-size: 3vw;
    color: darkgray;
}
